{% extends 'base.html' %}

{% block content %}
    <main class="contenedor seccion">
        <h2>Inicio</h2>
        <div class="contenidoAdmin">
            <div class="options">
                <ul>
                    


                    {% for product in productos %}
                    <li class="ropa prendas ">

                        <a href="">
                            <h3>{{product.nombre}}</h3>
                        </a>
                        <p>{{product.categoria}}</p>
                        <p>${{product.precio}}</p>
                        
                        <div class="opciones">
                            <a href="{% url 'add' product.id %}">agregar</a>
                            <a href="">ver mas</a>
                        </div>

                        
                        
                    </li>
                    {% endfor %}
                    
                </ul>
            </div>
        </div>
        <div>
            {% include "carrito.html" %} 
        </div>
    </main>
    {% endblock content %}
